.filters_block {
  margin: 50px 0;
  display: flex;
}

.filters_block > div {
  margin-left: 50px;
  display: flex;
  align-items: center;
}
.filters_block > div > span {
  margin-left: 10px;
}

.filters_block .Select {
  margin-left: 10px;
  width: 200px;
}
